<div class="row" ng-controller="chartCtrl">
	<!-- <button type="button" class="btn btn-block btn-lg btn-default" ng-click="showChart()">storage</button> -->
    <!-- <div class="col-md-8 col-sm-8"> -->
    <div>
            <div class='chart'></div>
            <div class="hidden" id="tooltip">
                <p>
                    <!-- <span class="glyphicon glyphicon-cd" aria-hidden="true"></span> -->
                    <i class="fa fa-power-off fa-2"></i>
                    <strong>Details</strong>
                </p>
                <ul>
                </ul>
            </div>
    </div>
    <!-- </div> -->
</div>