<div ng-if="show==false">
    <div class="col-xs-9 col-sm-9">
        <div class="row">
            <div class="col-xs-5 col-sm-5 panel panel-default rackViewFrame no-padding">
                <div class="panel-heading">Front View</div>
                <div class="panel-body">
                    <div class="well well-dark-grey">
                        <div style="display:inline;" class="btn-group-vertical">
                            <div style="margin:2px" ng-repeat="drawer in drawers">
                                <button type="button" class="btn btn-block btn-lg btn-default drawer_color drawer" ng-click="showChart('drawer', drawer.id)">{{drawer.title}}</button>
                            </div>
<!--                             <button type="button" class="btn btn-block btn-lg btn-default storageSection" ng-click="showChart('storage')">
                                <span class="glyphicon glyphicon-hdd"></span>
                                <span>storage</span>
                            </button> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-5 col-sm-5 col-xs-offset-1 col-sm-offset-1 panel panel-default rackViewFrame no-padding">
                <div class="panel-heading">Back View</div>
                <div class="panel-body panel-info">
                    <div class="well well-dark-grey">
                        <div class="panel-heading backViewZoneHeader">Thermal Zone</div>
                        <div class="panel-body rackBkg">
                            <div style="display:inline;" class="btn-group-vertical">
                                <div ng-repeat="ther in thermalZones">
                                    <button style="margin:2px" class="btn btn-block btn-lg backViewZone" type="button" ng-click="showChart('thermal',ther.id)">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <img src="assets/img/fan.png" style="height:25px;">
                                            </div>
                                            <div class="col-md-6">
                                                <span>{{ther.presentFanNum}} / {{ther.maxFanNum}}</span>
                                            </div>
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="panel-heading backViewZoneHeader">Power Zone</div>
                        <div class="panel-body rackBkg">
                            <div style="display:inline;" class="btn-group-vertical">
                                <div ng-repeat="power in powerZones">
                                    <button style="margin:2px" class="btn btn-block btn-lg backViewZone" type="button" ng-click="showChart('power', power.id)">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <span class="glyphicon glyphicon-off" style="font-size:1.5em;"></span>
                                            </div>
                                            <div class="col-md-6">
                                                <span>{{power.presentPsNum}} / {{power.maxPsNum}}</span>
                                            </div>
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-2 col-sm-2">
        <div>
            <center>Storage</center>
            <center  ng-show="!showPieChart">
               <i class="ace-icon fa fa-spinner fa-spin bigger-160 orange"></i>
            </center>
            <div ng-show="showPieChart">
                <div class="row">
                   <div class="col-md-10">
                        <nvd3-pie-chart data="storageUsage" x="xFunction()" y="yFunction()" width="{{ width }}" height="{{ height }}" color= "colors()" showLabels="true" pieLabelsOutside="false" showValues="true" labelType="percent">
                        <svg></svg>
                        </nvd3-pie-chart>
                   </div>
                   <div class="col-md-1" style="padding-top:30%;">
                        <div class="allocatedSquare"></div>
                        allocated: {{(storageUsage[0].y/(storageUsage[0].y+storageUsage[1].y))*100|number:2}}%
                   </div>
                </div> 
            </div>
        </div>
        <div>
            <center>Memory</center>
            <center ng-show="!showPieChart">
                <i class="ace-icon fa fa-spinner fa-spin bigger-160 orange"></i>
            </center>
            <div ng-show="showPieChart">
              <div class="row">
                <div class="col-md-10"> 
                     <nvd3-pie-chart data="memoryUsage" x="xFunction()" y="yFunction()" width="{{ width }}" height="{{ height }}" showLabels="true" color= "colors()" pieLabelsOutside="false" showValues="true" labelType="percent">
                     <svg></svg>
                     </nvd3-pie-chart>
                </div>
                <div class="col-md-1" style="padding-top:30%">
                     <div class="allocatedSquare"></div>
                     allocated: {{(memoryUsage[0].y/(memoryUsage[0].y+memoryUsage[1].y))*100|number:2}}%
                </div>
             </div>
           </div>
        </div>
        <div>
            <center>CPU</center>
            <center ng-show="!showPieChart">
                <i class="ace-icon fa fa-spinner fa-spin bigger-160 orange"></i>
            </center> 
            <div ng-show="showPieChart">
               <div class="row">
                 <div class="col-md-10">
                    <nvd3-pie-chart data="cpuUsage" x="xFunction()" y="yFunction()" width="{{ width }}" height="{{ height }}" showLabels="true" color= "colors()" pieLabelsOutside="false" showValues="true" labelType="percent">
                       <svg></svg>
                     </nvd3-pie-chart>
                 </div>
                 <div class="col-md-1" style="padding-top:30%">
                     <div class="allocatedSquare"></div>
                     allocated: {{(cpuUsage[0].y/(cpuUsage[0].y+cpuUsage[1].y))*100|number:2}}%
                 </div>
              </div>
           </div>
        </div>
    </div>
</div>
<div ng-if="show==true">
    <div ng-if="type=='storage'">
        <div ng-include="'src/app/partials/storage.tpl.html'"></div>
    </div>
    <div ng-if="type=='drawer'">
        <div ng-include="'src/app/partials/drawer.tpl.html'"></div>
    </div>
    <div ng-if="type=='thermal'">
        <div ng-include="'src/app/partials/thermal.tpl.html'"></div>
    </div>
    <div ng-if="type=='power'">
        <div ng-include="'src/app/partials/power.tpl.html'"></div>
    </div>
</div>
