<div ng-controller="chartCtrl">
    <!-- <button type="button" class="btn btn-block btn-lg btn-default" ng-click="showChart()">storage</button> -->
    <!-- <d3-Treemap data="storageData"></d3-Treemap> -->
    <div class="row" data-ng-init="render(storageData)">
        <div class="col-md-7 col-sm-7">
            <div class='chart'></div>
        </div>
        <div class="col-md-4 col-sm-4 col-md-offset-1 col-sm-offset-1">
            <div class="hidden" id="tooltip">
                <p>
                    <img src="assets/img/storage_icon.png" class="hintIcon">
                    <strong>Disc Details</strong>
                </p>
                <ul>
                </ul>
            </div>
        </div>
    </div>
</div>
